@import 'root.css';

button {
    border-radius: 50px;
    padding: 15px 45px;
    border: none;
    font-size: 12px;
    font-weight: 700;
    line-height: normal;
  }
  
  button.primary {
    color: var(--background);
    background-color: var(--primary);
  }
  button.secondary {
    color: var(--text);
    background-color: var(--plum);
  }
  
  .hero-logo {
    height: 50vmin;
    pointer-events: none;
  }

  .App-header {
    background-color: #282c34;
    /* background-color: #403E3A; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  